In [2]:
import pandas as pd 
import numpy as np 
import os

In [4]:
# read file train
train_file = 'train.csv'
test_file = 'test.csv'

df_train = pd.read_csv(train_file, encoding='utf-8')
df_test = pd.read_csv(train_file, encoding='utf-8')
df_train.head()

,id,label,province,district,age_source1,age_source2,maCv,FIELD_1,FIELD_2,FIELD_3,...,FIELD_48,FIELD_49,FIELD_50,FIELD_51,FIELD_52,FIELD_53,FIELD_54,FIELD_55,FIELD_56,FIELD_57
0,0,0,NaN,NaN,NaN,NaN,NaN,1,1.0,2547.0,...,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,Tỉnh Đồng Nai,Thành phố Biên Hòa,44.0,44.0,None,1,0.0,-1.0,...,False,True,29.77,17.561,30.955,31.171,0.0,0.04,0.0,0.0
2,2,0,Tỉnh Đồng Nai,Huyện Long Thành,30.0,30.0,Công nhân,0,1.0,3273.0,...,True,True,29.77,56.512,30.955,31.171,0.0,0.16,0.0,0.0
3,3,0,Tỉnh Tuyên Quang,Thành phố Tuyên Quang,43.0,NaN,NaN,0,1.0,3991.0,...,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,Thành phố Hồ Chí Minh,Quận 1,21.0,21.0,None,0,1.0,1450.0,...,True,True,29.77,13.789,30.955,31.171,0.0,0.03,0.0,0.0

In [39]:
def process_data(df):
    '''
    Input : data frame loaded from a file csv include: field, etc...
    Main process: 
     + Drop rows
     + TF-IDF data: FIELD
     + NLP data Text: provice, district 
     + Add value for none line
    Output: id: array, label : array, feature vector: array
    '''
    id = df['id'].values
    label = df['label'].values
    
    
    
    
    return id, label
    
#     return id, label, feature_vector
    
process_data(df_train)

[    0     1     2 ... 29997 29998 29999]